// src/components/Cart/Cart.scss
@import "../../css-config/mixins.scss";
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100vh;
  color: $primary-text-color;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 5px;
  z-index: 1000;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $gradient-bg;
  border: 1px solid $alternate-text-color;
  border-radius: 5px;
  @include sm {
    width: 100%;
  }
  #close-cart {
    color: $alternate-text-color;
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 26px;
    cursor: pointer;
  }
  .clear-cart {
    display: none;
  }
  .cart-container {
    list-style: none;
    padding-top: 40px;
    .product-container {
      display: flex;
      margin-bottom: 10px;
      column-gap: 1.5rem;
      position: relative;
      padding-bottom: 10px;
      // border-bottom: 1px solid #fff;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1.5px;
        background: $alternate-text-color;
      }

      img {
        width: 70px;
        object-fit: cover;
        background: $primary-text-color;
        border: 1px solid #fff;
        border-radius: 15px;
      }

      .cart-details {
        flex: 1;
        display: flex;
        flex-direction: column;
        line-height: 1.2;

        .title {
          margin-bottom: 11px;
          font-weight: bolder;
          font-size: 16px;
          line-height: normal;
          display: flex;
          justify-content: space-between;

          .clear-item {
            font-size: 22px;
            cursor: pointer;
          }
        }

        .product-info {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .price {
            font-size: 14px;
            font-weight: 600;
            color: $alternate-text-color;
          }

          .cart-actions {
            width: 35%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-radius: 40px;
            border: 1px solid $primary-text-color;
            @include sm {
              // width: 25%;
              
            }
            button {
              cursor: pointer;
              background-color: transparent;
              padding: 0;
              border-radius: 50%;
              font-size: 22px;
              display: flex;
              align-items: center;
              justify-content: center;
              &:hover {
                color: $primary-text-color;
              }
              &:active {
                scale: 0.95;
              }
            }
            .quantity {
              font-size: 12px;
              border-right: 1px solid $primary-text-color;
              border-left: 1px solid $primary-text-color;
              padding: 10px 15px;
              color: $alternate-text-color;
              font-weight: bold;
              @include sm {
                padding: 5px 10px;
              }
            }
          }
        }
      }
    }
  }

  .clear-cart {
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    transition: background 0.3s;

    &:hover {
      background: #cc0000;
    }
  }
  .cart-total {
    background: $gradient-bg;
    height: auto;
    padding: 2%;
    .total-price {
      display: flex;
      justify-content: space-between;
      padding: 5px;
      font-weight: 700;
      color: $alternate-text-color;
    }
    #checkout {
      background: $alternate-text-color;
      color: $primary-text-color;
      border-radius: 100px;
      padding: 10px;
      outline: none;
      width: 100%;
      font-weight: bolder;
    }
  }
  .cart-empty {
    position: absolute;
    top: 50%;
    right: 25%;
    transform: translate(-50%, -50%);

    .empty-cart-img {
      width: 100px;
    }
  }
}
