// src/components/Cards/ProductCard.scss
@import "../../css-config/mixins.scss";

.product-card {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  background: #f2f1f1;
  background: $gradient-bg;
  margin: 10px;
  border-radius: 5%;
  overflow: hidden;
  transition: transform 0.3s;
  box-shadow: rgba(15, 32, 39, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(44, 83, 100, 0.35) 0px -2px 6px 0px inset;

  &:hover {
    box-shadow: rgba(255, 255, 255, 0.15) 0px 50px 100px -20px,
      rgba(255, 255, 255, 0.2) 0px 30px 60px -30px,
      rgba(255, 255, 255, 0.25) 0px -2px 6px 0px inset;
  }
  padding: 15px;
  .p-image {
    flex: 0 0 70%;
    background: #f2f2f2;
    height: 75%;
    border-radius: 5%;
    img {
      width: 100%;
      height: 300px;
      object-fit: contain;
      transition: all 0.5s;
      &:hover {
        scale: 1.2;
      }
    }
  }

  .p-details {
    flex: 0 0 30%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h3 {
      font-size: 1.2rem;
      margin-bottom: 10px;
      align-self: flex-start;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: $primary-text-color;
    }

    .price {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      p {
        margin: 0;
        font-size: 1rem;
        color: $alternate-text-color;
      }

      .add-to-cart {
        font-size: 25px;
        border: none;
        border-radius: 10px;
        font-size: 25px;
        border: none;
        border-radius: 10px;
        font-weight: 700;
        cursor: pointer;
        transition: background-color 0.3s;
        background: white;
        border-radius: 50%;

        font-weight: 700;
        // padding: 5px 10px;
        cursor: pointer;
        transition: background-color 0.3s;
        &:hover {
          // background: linear-gradient(to right, #4a00e0, #8e2de2);
        }
        &:active {
          scale: 0.95;
        }
      }
    }
  }

  // @include sm {
  //   width: calc(50% - 20px); /* 2 cards per row on small screens */
  // }

  // @include md {
  //   width: calc(33.33% - 20px); /* 3 cards per row on medium screens */
  // }

  // @include lg {
  //   width: calc(25% - 20px); /* 4 cards per row on large screens */
  // }

  // @include xl {
  //   width: calc(20% - 20px); /* 5 cards per row on extra-large screens */
  // }

  // @include xxl {
  //   width: calc(
  //     16.66% - 20px
  //   ); /* 6 cards per row on extra-extra-large screens */
  // }
}
