// src/components/Categories/HeaderCategory/HeaderCategory.scss

@import "../../../css-config/mixins.scss";

.header-category {
  position: fixed;
  top: 80px;
  left: -165px;
  width: 400px;
  height: 100vh;
  color: $primary-text-color;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 5px;
  z-index: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $gradient-bg;
  border: 1px solid $alternate-text-color;
  // transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateX(-100%);
  opacity: 0;

  &.show {
    transform: translateX(0);
    opacity: 1;
  }
}
