// Home.scss
@import "../../../css-config/mixins.scss";

section {
  width: 100%;
  height: auto;
  padding: 20px;
  // border-top: 1px solid $alternate-text-color;
  position: relative;
  @include sm {
  }


}
