// src\App.scss
@import "./css-config/mixins.scss";

body {
  background: $gradient-bg;
  // background-color: $alternate-gradient-bg;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  border-radius: 10px;
}
