//src\css-config\mixins.scss
$primary-text-color: #ffffff;
$secondary-bg-color: #2d3639;
$tertiary-bg-color: #40494c;
$alternate-text-color: #00c2c3;

$gradient-bg: linear-gradient(to right, #0f2027, #203a43, #2c5364);
$alternate-gradient-bg: linear-gradient(to right, #203a43, #0f2027, #2c5364);
$bg-blur: (
  background: rgba(0, 194, 195, 0.11),
  border-radius: 16px,
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1),
  backdrop-filter: blur(20px),
  -webkit-backdrop-filter: blur(20px),
  border: 1px solid rgba(0, 194, 195, 0.67)
);

@mixin bg-blur {
  @each $property, $value in $bg-blur {
    #{$property}: #{$value};
  }
}

@mixin sm {
  @media only screen and (max-width: 640px) {
    @content;
  }
}

@mixin md {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

@mixin xl {
  @media only screen and (min-width: 1280px) {
    @content;
  }
}

@mixin xxl {
  @media only screen and (min-width: 1536px) {
    @content;
  }
}
