@import "../../../../css-config/mixins.scss";
.search-container {
  position: relative;

  &.active {
    input {
      padding: 2px 5px;
      border: 1px solid $alternate-text-color;
    }
  }
  input {
    font-size: 18px;
    transition: width 0.3s ease; /* Initial width transition */
    /* Position and animation for expanding from right to left */
    position: absolute;
    right: 28px;
    top: 0;
    transform-origin: top right;
    outline: none;
    color: $alternate-text-color;
    border-radius: 5px;
    padding: 2px 0;
    font-size: 16px;
    @include bg-blur;
    border: none;
    border-radius: 10px;
    &::placeholder {
      color: $alternate-text-color;
    }
  }
  .search-btn {
    border: 0;
    cursor: pointer;
    font-size: 24px;
    top: 0;
    left: 0;

    transition: transform 0.3s ease;
  }
  .search-results {
    position: absolute;
    right: 8px;
    right: -25px;
    top: 50px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    overflow-y: auto;
    padding: 16px 10px;

    border: 1px solid $alternate-gradient-bg;
    border-radius: 10px;
    /* From https://css.glass */
    background: rgba(0, 194, 195, 0.56);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(0, 194, 195, 1);
    @include sm {
      right: -78px;
      top: 40px;
      width: 89vw;
    }
    .search-result-item {
      color: $primary-text-color;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        color: $secondary-bg-color;
      }
    }
  }
}
