@import "../../../../css-config/mixins.scss";
.search-container {
  position: relative;

  &.active {
    input {
      padding: 2px 5px;
      border: 1px solid $alternate-text-color;
    }
  }
  input {
    font-size: 18px;
    transition: width 0.3s ease; /* Initial width transition */
    /* Position and animation for expanding from right to left */
    position: absolute;
    right: 28px;
    top: 0;
    transform-origin: top right;
    outline: none;
    color: $alternate-text-color;
    border-radius: 5px;
    padding: 2px 0;
    font-size: 16px;
    @include bg-blur;
    border: none;
    border-radius: 10px;
    &::placeholder {
      color: $alternate-text-color;
    }
  }
  .search-btn {
    border: 0;
    cursor: pointer;
    font-size: 24px;
    top: 0;
    left: 0;

    transition: transform 0.3s ease;
  }
}
